<h1 class="center">Listagem de Vagas</h1>

  <% if @jobs.empty? %>
  <p>Nao temos vagas</p>
  <% else %>

    <table>
      <tr>
        <th>Titulo</th>
        <th>Descricao</th>
        <th>Valor</th>
        <th>Acões</th>
      </tr>


      <% @jobs.each do |j|%>
      <tr>
        <td><%=j.title %></td>
        <td><%=j.description %></td>
        <td><%=j.value %></td>
        <td>
        <%= link_to "Editar", edit_job_path(j.id) %>
        <%= link_to "Ver", job_path(j.id) %>
        <%= link_to "Apagar", job_path(j.id), method: :delete %>
        </td>
      </tr>
      <% end %>

    </table>
  <% end %>

<br><br><br><br>
<p>Crie uma nova no link abaixo!</p>
<%= link_to "Nova Vaga", new_job_path %>
