<h1><%= @job.title %></h1>
<h2><%= @job.description %></h2>
<h3><%= @job.value %></h3>
<br>

<%= link_to "Home", root_path %> <br>
<%= link_to "Fazer aplicação", new_job_application_path(@job) %>
<h4>Aplicações</h4>
<table>
<% @applications.each do |app| %>
  <tr>
    <td><%= app.name %></td>
    <td><%= app.email %></td>
    <td><%= app.reasons %></td>
  </tr>
<% end %>
</table>
